.cart-checkout-main-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    padding-top: 3vw;
}

.cart-checkout-main-div h2 {
    align-self: flex-start;
    margin-left: 10vw;
    font-family: 'L Regular';
    color: #8c857e;
    font-size: 1.8vw;
    margin-top: 5vw;
}

.cart-checkout-form {
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.cart-checkout-form input {
    background-color: #f7f4ed;
    border: 3px solid #8c857e;
    height: 3vw;
    margin-bottom: 2vw;
    font-family: 'L Regular';
    font-size: 1vw;
}

.cart-checkout-form label {
    align-self: flex-start;
    color: #8c857e;
    font-family: 'L Regular';
    font-size: 1.5vw;
}

.cart-checkout-buttons-div {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
    align-self: center;
}

.cart-checkout-cancel-button {
    border: .18vw solid #8c857e;
    background-color: transparent;
    font-family: 'L Regular';
    font-weight: 500;
    color: #8c857e;
    font-size: 1.9vw;
    padding: .1vw;
    width: 8.5vw;
    cursor: pointer;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-checkout-continue-button {
    border: .18vw solid #8c857e !important;
    display: flex !important;
    color: #8c857e !important;
    background-color: transparent !important;
    cursor: pointer;
    align-items: center !important;
    justify-content: center;
    font-family: 'L Regular' !important;
    font-weight: 500;
    font-size: 1.9vw !important;
    width: 10.5vw;
    height: 3.5vw !important;
}

@media only screen and (max-width: 480px) {
    .cart-checkout-main-div {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 80vh;
        padding-top: 5vw;
    }
    .cart-checkout-main-div h2 {
        align-self: flex-start;
        margin-left: 10vw;
        font-family: 'L Regular';
        color: #8c857e;
        font-size: 5vw;
        text-align: start;
        margin-bottom: 5vw;
    }
    .cart-checkout-form {
        display: flex;
        width: 80vw;
        flex-direction: column;
    }
    .cart-checkout-form input {
        background-color: #f7f4ed;
        border: 3px solid #8c857e;
        height: 10vw;
        margin-bottom: 2vw;
        font-family: 'L Regular';
        font-size: 1vw;
    }
    .cart-checkout-form label {
        align-self: flex-start;
        color: #8c857e;
        font-family: 'L Regular';
        font-size: 4.5vw;
    }
    .cart-checkout-buttons-div {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        width: 80vw;
        margin-top: 15vw;
        margin-bottom: 4vw;
        align-self: center;
    }
    .cart-checkout-cancel-button {
        border: 2px solid #8c857e;
        background-color: transparent;
        font-family: 'L Regular';
        font-weight: 500;
        color: #8c857e;
        font-size: 5vw;
        padding: .1vw;
        width: 17vw;
        cursor: pointer;
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart-checkout-continue-button {
        border: 2px solid #8c857e !important;
        display: flex !important;
        color: #8c857e !important;
        background-color: transparent !important;
        cursor: pointer;
        align-items: center !important;
        justify-content: center;
        font-family: 'L Regular' !important;
        font-weight: 500;
        font-size: 5vw !important;
        height: 10vw !important;
        width: 17vw;
    }
}